//= require_tree ./vendor
//= require_tree ./lib
//= require_tree ./webfonts

// 
// colors
//

$text-color: #655e46;
$title-color: rgb(52, 50, 51);
$title-shadow-color: rgba(52, 50, 51, 0.5);
$main-color: #FACB23;
$secondary-color: #FF7B0F;

html {
  background-color: $main-color;

  @media only screen and (min-width: 700px) {
    background-color: #FFF;
  }
}

body {
  color: $text-color;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  text-align: center;

  @media only screen and (min-width: 700px) {
    text-align: left;
  }

}

h1 {
  margin: 0;
  color: $title-color;
  font-family: "Trend Slab One", Georgia, serif;
  text-transform: uppercase;
}

p {
  margin: 0 0 1em;
}

a {
  font-weight: bold;
  color: $title-color;
  text-decoration: none;

  &:hover {
    color: darken( $main-color, 10%);
  }

  @media only screen and (min-width: 700px) {
    color: $secondary-color;
  }

}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

//
// Layout
//

.col {
  padding: 0 2em; 
  max-width: 350px;
  margin: 0 auto;

  @media only screen and (min-width: 700px) {
    padding: 0;
    max-width: none;
  }
}

[role="main"] .col {
  padding: 1em 2em;

  @media only screen and (min-width: 700px) {
    padding: 0;
  }
}

@media only screen and (min-width: 700px) {
  .wrap {
    max-width: 700px;
    margin: 0 auto;
  }

  .col1 {
    width: 200px;
    margin-right: 3em;
    float: left;
    text-align: right;
  }

  .col2 {
    overflow: hidden;
  }
}

//
// Logo type
//

h1 {
  margin-left: -8px;
}

.logo {
  line-height: 1em;

  @media only screen and (min-width: 700px) {
    font-size: 3em;
  }
}

.logo-icon {
  margin-top: 1em;
  width: 75px;

  @media only screen and (min-width: 700px) {
    width: 172px;
  }
}

//
// Contact list
//

.contact-list {
  font-size: 0.75em;
}

//
// Text decorators
// 

.shadow-text {
  display: none;
}

@media only screen and (min-width: 700px) {
  .shadow {
    position: relative;
    z-index: 2;
    text-shadow: 1px 1px 0 #FFF;
  }

  .shadow-text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;

    color: $title-shadow-color;
    font-family: "Trend Slab Three";
    font-weight: normal;
  }
}
