---
title: Meta Union - Birmingham Web Consultancy
body_class: index
---

.wrap
  .ornament {j}

  %h1 
    %span.logo
      %span.shadow Meta
      %img{src: "/images/logo-icon@2.png", height: 64, class: "logo-icon"}
      %span.shadow Union
    .org-type Web consultancy

  %p Meta Union is a web development company run by Ad Taylor. Our main focus is providing front-end development consultancy to high-traffic clients but also offer full web site design and development. 
  %p Full site coming soon!

.ornament.bg-tl 8
.ornament.bg-tr 9
.ornament.bg-bl 7
.ornament.bg-br 6
 



%span{style: "height: 900px;display: block;"} &nbsp;  
.ornament a b c d e f g h i j k l m n o p q r s t u v w x y z
.ornament A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
.ornament 0 1 2 3 4 5 6 7 8 9 10
.ornament . , ; : / ? " ' \ | ] } [ { + = - _ < > ~ ` ! @ ยฃ $ % ^ & * ( ) ยง
